@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NodesApp.Models.NodesListModel
@{
}

<h2>Nodes </h2>

<div class="table-responsive-sm">
<table class="table table-bordered">
<thead>
<tr>
            <th scope="col">
        Node name
    </th>
            <th scope="col">
        Link
    </th>
            <th scope="col">
        Text
    </th>
            <th scope="col">
        Go to
    </th>
</tr>
</thead>
    <tbody>
        @foreach (var item in Model.Nodes)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.NodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a href="@Url.Action("Node", "Nodes", new { id = item.NodeId })">
                        <span>Go to node</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CreateNode", "Nodes")">
          <span>Create Node</span>
</a>
</div>